.movies-list {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(5, minmax(0, 1fr)); 
   gap: 20px;
   margin-top: 40px;
}
.movie-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   overflow: hidden;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
   background-color: white;
}

.movie-item:hover {
   transform: translateY(-5px);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-link:hover {
   text-decoration: underline;
}

.image-container {
   position: relative;
   overflow: hidden;
   border-radius: 8px 8px 0 0;
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f0f0f0;
}

.no-photo {
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #333333;
   color: #999;
   font-weight: bold;
}

.movie-title {
   margin: 10px;
   font-size: 16px;
   font-weight: bold;
   color: #333;
    
}

.movie-poster {
   width: 100%;
   height: 300px;
   display: block;
   object-fit: cover;
}